.git
.github
.vscode
.next
.next-dev
.vercel
node_modules
npm-debug.log*
*.log
* 2.*
Dockerfile
docker-compose*.yml
.env
.env*.local
README.md
docs
infra
database-design
backend/app
backend/database
backend/docs
backend/routes
backend/tests
