APP_PORT=3000
BACKEND_PORT=8000
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_MARKET_RATES_CACHE_TTL_MS=3600000
BACKEND_API_URL=http://127.0.0.1:8000/api/v1
TGJU_API_URL=https://call2.tgju.org/ajax.json?rev=E0Wf6KUzcINqAprSkiDbnhZHdM4XGIMImkivgesQwwcAXNQ2RlfNvH4d29bM
TGJU_SYNC_INTERVAL_MS=7200000
TGJU_SYNC_INTERVAL_MINUTES=120
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=khoobrooz
SQLSERVER_USER=sa
SQLSERVER_SA_PASSWORD=ChangeThisStrongPassword!2026
