APP_PORT=3000
TGJU_API_URL=https://call2.tgju.org/ajax.json?rev=E0Wf6KUzcINqAprSkiDbnhZHdM4XGIMImkivgesQwwcAXNQ2RlfNvH4d29bM
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=khoobrooz
SQLSERVER_USER=sa
SQLSERVER_SA_PASSWORD=ChangeThisStrongPassword!2026
